@use "sass:color";

/*==============================
  Button
================================*/

@mixin button($base-color){
  *{
    font-size: 1em;
  }

  font-family: inherit;
  display: inline-flex;
  height: 20px;
  gap: 12px;
  margin: 2px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  justify-content: center;
  align-items: center;
  padding: 18px 18px;
  font-size: 0.80em;
  border: none;
  border-radius: 3px;
  transition: all 0.2s linear 0s;
  overflow: hidden;
  position: relative;
  line-height: 0px;
  text-decoration: none;

  background-color: var(#{$base-color});
  border: solid var(#{$base-color}) 1px;
  color: var(--button-color);

  &::before{
    background-color: var(--button-color);
  }

  &:hover:not(&:disabled){
    background-color: var(#{$base-color}-hover);
    border: solid var(#{$base-color}-hover) 1px;
  }

  &:disabled{
    opacity: 0.8;
    cursor: no-drop;
  }

  // Outline
  &.button--outline{
    background-color: transparent;
    color: var(#{$base-color});

    &:hover, &:active{
      background-color: transparent !important;
    }

    &::before{
      background-color: var(#{$base-color});
    }
  }
}

/*==============================
  Colors
================================*/

.button{
  @include button('--button-background');
}

/*==============================
  Loading
================================*/

@keyframes loading{
  0%{
    left: 0%;
    width: 10%;
  }

  50%{
    left: 90%;
  }

  100%{
    left: 0%;
    width: 10%;
  }
}

.button--loading{
  &::before{
    content: "";
    position: absolute;
    bottom: 3px;
    left: 90%;
    width: 10px;
    height: 2px;
    border-radius: 50px;
    animation: loading;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

/*==============================
  Border
================================*/

.button--rounded{
  border-radius: 100px;
}

/*==============================
  Sizes
================================*/

.button--full{
  width: 100%;
}

.button--big{
  padding: 25px 30px;
  font-size: 1em;
}

.button--small{
  padding: 10px 15px;
  height: 28px;
  font-size: 0.7em;
}
