/*==============================
  Forms
================================*/

.form{
  display: flex;
  gap: var(--default-space);
  flex-direction: column;
}

.fieldset{
  border: solid var(--border-color) 1px;
  padding: var(--default-space);
  display: flex;
  gap: var(--default-space);
  border-radius: 5px;
  flex-direction: column;
}

.legend{
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  color: var(--font-color);
  opacity: 1;
}

/*==============================
  Inputs
================================*/

.label{
  font-size: 0.9rem;
  display: block;
  margin-bottom: 6px;
  color: var(--title-color);
  font-weight: bold;
}

.input{
  display: flex;
  width: 100%;
  border-radius: 3px;
  font-size: 1rem;
  padding: 13px;
  transition: all 0.2s linear 0s;
  font-family: inherit;
  border: solid var(--input-border) 1px;
  color: var(--title-color);
  background-color: var(--input-background);

  &::placeholder { /* Edge */
    color: var(--input-placeholder);
    opacity: 1;
  }

  &:focus{
    border: solid var(--input-border-focus) 1px;
    outline: none;
  }
}

.input[type=color]{
  border: none;
  height: 60px;
  width: 60px;
  display: block;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  border-radius: 5px;
}

.input[type=range]{
  padding: 0px;
  display: block;
  margin-top: 5px;
}

.input[type=file]{
  padding: 7px;
}

.input--error{
  border: solid var(--input-error-border) 1px;
  background-color: var(--input-error-background);
}

.input--success{
  border: solid var(--input-success-border) 1px;
  background-color: var(--input-success-background);
}

/*==============================
  Select
================================*/

.select{
  @extend .input;
}

/*==============================
  Textarea
================================*/

.textarea{
  @extend .input;
  min-height: 100px;
}

/*==============================
  Messages
================================*/

.input__message{
  font-size: 0.9em;
  margin-top: 6px;
  display: block;
  color: var(--font-color);
}

.input__message--error{
  @extend .input__message;
  color: var(--danger-color);
}

/*==============================
  Checkbox
================================*/

.checkbox{
  input[type=checkbox]{
    display: none;
  }

  input[type=checkbox][disabled] + label::before{
    cursor: no-drop;
    opacity: .2;
  }

  input[type=checkbox] + label{
    display: inline-block;
    margin: 0;
    cursor: pointer;
    color: var(--font-color);
  }

  input[type=checkbox] + label::before{
    position: relative;
    top: 4px;
    display: inline-block;
    width: 23px;
    height: 23px;
    margin: 0 7px 0 0;
    content: "";
    cursor: pointer;
    border: solid var(--border-color) 2px;
    box-shadow: inset 0 0 0 2px var(--background-color);
  }

  input[type=checkbox]:checked + label::before{
    background: var(--primary-color);
    border: solid var(--primary-color) 2px;
  }
}

/*==============================
  Radio
================================*/

.radio{
  input[type=radio]{
    display: none;
  }

  label{
    display: inline-block;
    margin: 0;
    cursor: pointer;
    color: var(--font-color);
  }

  label::before{
    position: relative;
    top: 4px;
    display: inline-block;
    width: 23px;
    height: 23px;
    margin: 0 5px 0 0;
    content: "";
    cursor: pointer;
    border-radius: 100%;
    box-shadow: inset 0 0 0 2px var(--background-color);
    border: solid var(--border-color) 2px;
  }

  input[type=radio]:checked + label::before{
    background: var(--primary-color);
    border: solid var(--primary-color) 2px;
  }

  input[type=radio][disabled] + label::before{
    cursor: no-drop;
    opacity: .2;
  }
}
