/*==============================
  Grid
================================*/

.row{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--default-space);
}

.col{
  display: flex;
  flex-direction: column;
  width: 100%;
}