/*==============================
  Table
================================*/

.table{
  width: 100%;
  margin: 0 0 20px 0;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
  border-radius: 5px;

  caption{
    font-weight: bold;
    margin: 0 0 -1px 0;
    padding: 10px;
    border: solid $border-color 1px;
  }

  tr{
    padding: 10px;
  }

  td{
    padding: 10px;
    width: 2%;
    border: solid $border-color 1px;
  }

  th{
    font-weight: bold;
    padding: 10px 0 10px 0;
    text-align: left;
    border: solid $border-color 1px;
    padding: 10px;
    background-color: $table-header;
  }
}
