/*==============================
  Text
================================*/

.text{
  font-size: 1.1rem;
  line-height: 1.8rem;
  color: var(--font-color);
}

/*==============================
  Size
================================*/

.text--mid{
  @extend .text;

  font-size: 1.4rem;
  line-height: 2rem;
}

.text--big{
  @extend .text;

  font-size: 1.8rem;
  line-height: 2.5rem;
}

.text--small{
  @extend .text;

  font-size: 0.85rem;
}

/*==============================
  Align
================================*/

.text--center{
  text-align: center;
}

.text--start{
  text-align: start;
}

.text--end{
  text-align: end;
}

.text--left{
  text-align: left;
}

.text--right{
  text-align: right;
}

/*==============================
  Transform
================================*/

.text--uppercase{
  text-transform: uppercase;
}

.text--lowercase{
  text-transform: lowercase;
}

.text--capitalize{
  text-transform: capitalize;
}

/*==============================
  Weight
================================*/

.text--bold{
  font-weight: bold;
}

.text--normal{
  font-weight: normal;
}

/*==============================
  Link
================================*/

.link{
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.2s linear 0s;

  &:hover{
    border-bottom: solid var(--link-color) 1px;
  }
}

/*==============================
  Title
================================*/

.title{
  @extend .text--big;

  font-weight: bold;
  color: var(--title-color);
}

.title--mid{
  @extend .text--mid;

  font-weight: bold;
  color: var(--title-color);
}

/*==============================
  Colors
================================*/

.text--primary{
  color: var(--primary-color);
}

.text--success{
  color: var(--success-color);
}

.text--danger{
  color: var(--danger-color);
}
