/* ==========================================================================
   Button
   ========================================================================== */

$button-background: #41495b;
$button-color: #fff;
$button-border-color: darken($button-background, 20%);

button,
input[type=submit]{
  appearance: none;
}

.btn{
  font-family: inherit;
  font-size: .94em;
  display: inline-block;
  height: 37px;
  margin: 0 0 5px 0;
  padding: 0 20px 0 20px;
  cursor: pointer;
  transition: border .1s linear 0s;
  text-align: center;
  vertical-align: middle;
  color: $button-color;
  border: solid $button-border-color 1px;
  border-radius: 3px;
  background: $button-background;

  &:hover{
    text-decoration: none;
    background: darken($button-background, 10%);
  }

  &:active{
    color: $button-color;
    background: darken($button-background, 15%);
  }
}

a.btn{
  line-height: 36px;
}

button.btn[disabled],
a.btn[disabled],
input[type=submit].btn[disabled]{
  cursor: no-drop;
  opacity: .4;
}
