/* ==========================================================================
   Colors
   ========================================================================== */

$success-color: #33c5a0;
$info-color: #2197cf;
$error-color: #dc3030;
$main-color: #333844;

.success-bg{
  background: $success-color;
}

.info-bg{
  background: $info-color;
}

.error-bg{
  background: $error-color;
}

.main-bg{
  background: $main-color;
}
