/* ==========================================================================
   Form
   ========================================================================== */

//Inputs
$input-background: #fff;
$input-border-color: lighten(#4c556b, 45%);

//Focus
$input-border-color-focus: #06f;

//Fieldset
$fieldset-border-color: lighten(#4c556b, 52%);

//Disabled
$disabled-background: lighten(#4c556b, 61%);

/* Fieldset and label
   ========================================================================== */
label{
  display: inline-block;
  margin: 0 0 5px 0;
}

fieldset{
  padding: 15px;
  border: solid $fieldset-border-color 1px;
}

legend{
  font-weight: bold;
  margin: 0 0 0 30px;
  padding: 0 15px 0 15px;
}

/* Inputs and textarea
   ========================================================================== */
.form-control{
  font-family: inherit;
  font-size: 1.2em;
  width: 100%;
  height: 35px;
  padding: 2px 12px 2px 12px;
  transition: border .2s linear 0s;
  border: solid 1px $input-border-color;
  border-radius: 2px;
  background: $input-background;

  &:focus{
    border: solid 1px $input-border-color-focus;
    outline: none;
  }

  &[disabled]{
    cursor: no-drop;
    background: $disabled-background;
  }
}

textarea.form-control{
  font-family: inherit;
  min-height: 100px;
  padding: 10px 15px 10px 15px;

  &[disabled]{
    cursor: no-drop;
    background: $disabled-background;
  }
}

.form-control-file{
  font-family: inherit;
  font-size: .9em;
  width: 100%;
  padding: 4px;
  cursor: pointer;
  border: solid $input-border-color 1px;
  background: white;
}

/* Select
   ========================================================================== */
.form-select{
  font-family: inherit;
  font-size: 1.1em;
  width: 100%;
  height: 35px;
  padding: 3px 1px 3px 12px;
  cursor: pointer;
  transition: border .2s linear 0s;
  border: solid 1px $input-border-color;
  border-radius: 3px;
  background: $input-background;

  &[disabled]{
    cursor: no-drop;
    background: $disabled-background;
  }

  &:focus{
    border: solid 1px $input-border-color-focus;
    outline: none;
  }

  &::after{
    content: "teste";
  }
}

/* State input
   ========================================================================== */
input[type=number],
input[type=email]{
  &:invalid{
    box-shadow: none;
  }
}