/* ==========================================================================
   Radio
   ========================================================================== */

$radio-border-color: #333;
$radio-background-actived: #4b70da;

.form-radio{
  input[type=radio]{
    display: none;
  }

  label{
    display: inline-block;
    margin: 0;
    cursor: pointer;
  }

  label::before{
    position: relative;
    top: 4px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px 0 0;
    content: "";
    cursor: pointer;
    border: solid $radio-border-color 2px;
    border-radius: 100%;
    box-shadow: inset 0 0 0 2px #fff;
  }

  input[type=radio]:checked + label::before{
    background: $radio-background-actived;
  }

  input[type=radio][disabled] + label::before{
    cursor: no-drop;
    opacity: .2;
  }
}

