/*==============================
  Button
================================*/

.buttons{
  display: flex;
  gap: 5px;
  width: 100%;
}

// base button

.button{
  *{
    font-size: 1em;
  }

  height: 40px;
  font-family: inherit;
  display: flex;
  gap: 8px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  font-size: 0.80em;
  background-color: var(--button-background);
  color: var(--button-color);
  border: none;
  border-radius: 3px;
  transition: all 0.2s linear 0s;
  overflow: hidden;
  position: relative;

  &:hover{
    box-shadow: var(--button-hover-shadow);
    position: relative;
    z-index: 10;
  }

  &:active{
    position: relative;
    top: 1px;
  }
}

// loading button

@keyframes loading {
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}

.button__loading{
  @extend .button;

  opacity: 0.7;
  cursor: no-drop;

  &::before{
    content: "";
    width: 12px;
    height: 4px;
    background-color: white;
    border-radius: 6px;
    animation: loading;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &:hover{
    box-shadow: none;
  }

  &:active{
    position: relative;
    top: 0px;
  }
}

// outline button

.button__outline{
  @extend .button;

  background-color: white;
  border: solid black 2px;
  color: black;
}

// full button

.button__full{
  @extend .button;

  width: 100%;
}
