[data-theme="light"]{
/*==============================
Background
================================*/

--background-color: #ffffff;

/*==============================
Colors
================================*/

--primary-color: #1269eb;
--danger-color: #e73b3b;
--success-color: #0c9d54;

/*==============================
Tables
================================*/

--table-header: #f4f4f4;

/*==============================
Fonts
================================*/

--font-color: #2e2e2e;
--title-color: #181818;
--link-color: #0000ff;
--link-visited-color: #9f00ca;

/*==============================
Border
================================*/

--border-color: #c8c8c8;

/*==============================
Buttons
================================*/

--button-background: #1269eb;
--button-background-hover: #0041C3;
--button-color: #FFFFFF;

/*==============================
Input
================================*/

--input-background: #ffffff;
--input-border: #c8c8c8;
--input-border-focus: #1269eb;
--input-placeholder: #8b8b8b;

--input-success-border: #0c9d54;
--input-success-background: #f0fff7;

--input-error-border: #f31717;
--input-error-background: #fff2f2;

/*==============================
Spaces
================================*/

--default-space: 20px;
}
