/*==============================
  Reset
================================*/

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  visibility: visible;
  vertical-align: top;
}

html,
body {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  overflow-x: hidden;

  @media (max-width: 800px) {
    font-size: 0.95em;
  }
}
