/*==============================
  Background
================================*/

$background-color: #ffffff;

/*==============================
  Colors
================================*/

$primary-color: #1269eb;
$danger-color: #e73b3b;
$success-color: #0c9d54;
$dark-color: #161616;
$light-color: #d6d6d6;

/*==============================
  Tables
================================*/

$table-header: #f4f4f4;

/*==============================
  Fonts
================================*/

$font-color: #2e2e2e;
$title-color: #0e0e0e;
$link-color: #0000ff;

/*==============================
  Border
================================*/

$border-color: #c8c8c8;

/*==============================
  Buttons
================================*/

$button-font-light: #FFFFFF;
$button-font-dark: #000000;
$button-loading-dark: #000000;
$button-loading-light: #FFFFFF;

/*==============================
  Spaces
================================*/

$default-space: 20px;
